	<div class="banner ban">
		<div class="container">
			<div class="header">
				<div class="header-left">
					<h1><%= link_to 'The MPrints', home_index_path %></h1>
				</div>
				<!-- #push_sidebar -->
				<div class="top-nav">
					<span class="menu"><%= image_tag("menu.png", :alt=>"") %></span>
					<ul class="nav1">
						<li class="active"><%= link_to 'Home',home_index_path %></li>
						<li><%= link_to 'Services',home_services_path %></li>
						<li><%= link_to 'Contact',home_contact_path %></li>
					</ul>
					<div class="clearfix"> </div>
					<!-- script-for-menu -->
					 <script>
					   $( "span.menu" ).click(function() {
						 $( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						  });
						 });
					</script>
					<!-- /script-for-menu -->
				</div>
				<!-- /#push_sidebar -->
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>