<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 50,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>

	<script>
		$(document).ready(function() {
		$("#owl-demo").owlCarousel({
			items : 1,
			lazyLoad : true,
			autoPlay : true,
			navigation : false,
			navigationText :  false,
			pagination : true,
		});
		});
	</script>


<!--header-->
	<div class="banner">
		<div class="container">
			<div class="header">
				<div class="header-left">
					<h1><%= link_to 'The MPrints',home_index_path %></h1>
				</div>
				<!-- #push_sidebar -->
				   <div class="top-nav">
					<span class="menu"><%= image_tag("menu.png" ,:alt => "") %></span>
					<ul class="nav1">
						<li class="active"><%= link_to 'Home',home_index_path %></li>
						<li><%= link_to 'Services',home_services_path %></li>
						<li><%= link_to 'Contact',home_contact_path %></li>
					</ul>
					<div class="clearfix"> </div>
					<!-- script-for-menu -->
					 <script>
					   $( "span.menu" ).click(function() {
						 $( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						  });
						 });
					</script>
					<!-- /script-for-menu -->
				</div>
				<!-- /#push_sidebar -->
				<div class="clearfix"> </div>
			</div>
			<div class="banner-grid">
				<div class="slider">
					<div class="callbacks_container">
						<ul class="rslides" id="slider">
							<li>	 
								<div class="caption">
									<h3>The MPrints Motto</h3>
									<p>Best Service Possible</p>
								</div>
							</li>
							 <li>	 
								<div class="caption">
									<h3>The MPrints Mission</h3>
									<p>Your satisfaction and best experience in print and press services is all our mission is.</p>
								</div>
							</li>
							<li>	 
								<div class="caption">
									<h3>The MPrints Vision</h3>
									<p>To forever be yours, making your life colorful</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--header-->
		<!--about-->
				<div class="about-w3agile">
					<div class="container">
						<h2 class="tittle">About Us</h2>
						<div class="about-grids">
							<div class="col-md-6 about-grid">
								<%= image_tag("img1.jpg" ,:class=>"img-responsive", :alt=>"") %>
							</div>
							<div class="col-md-6 about-grid">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">
												<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
													About The MPrints
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<p>The MPrints strives to be a one-stop-shop for all your print and press needs. The very first and only rule on our corporate constitution is "best quality and customer experience". If you feel you weren't given the best, please drop the boss an email at the boss B themprints.com.In such a case we guarantee you a 100% moneyback or a total redo of the service.</p>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingTwo">
											<h4 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												What we do
												</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
											<p>Consectetur adipiscing elit. Aenean consequat lacus ac turpis ullamcorper, ut ornare libero euismod. Mauris urna eros, tempus id eros vitae, accumsan tempor ligula. Maecenas gravida felis vitae dignissim porta. Quisque blandit velit vitae eros varius.Lorem ipsum dolor sit amet Praesent justo dolor, lobortis quis, lobortis dignissim </p>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingThree">
											<h4 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												Our Goal
												</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
											<p>Consectetur adipiscing elit. Aenean consequat lacus ac turpis ullamcorper, ut ornare libero euismod. Mauris urna eros, tempus id eros vitae, accumsan tempor ligula. Maecenas gravida felis vitae dignissim porta. Quisque blandit velit vitae eros varius.Lorem ipsum dolor sit amet Praesent justo dolor, lobortis quis, lobortis dignissim </p>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingFour">
											<h4 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
											Where we are based
												</a>
											</h4>
										</div>
										<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
											<p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula Praesent justo dolor, lobortis quis, lobortis </p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!--about-->
				<!--why-->
				<div class="why-w3l">
					<div class="container">
					<h3 class="tittle">Why Choose Us</h3>
						<div class="why-grids">
							<div class="col-md-6 why-grid">
								<iframe src="https://player.vimeo.com/video/124902958"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
							</div>
							<div class="col-md-6 why-grid">
								<p>Striving to always ensure that our clients get the best service possible is not always easy,and most of the frequently asked questions asked by our esteemed clients is , why should we choose you?.And we say:</p>
								<ul>
									<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>100% satisfaction guaranteed </li>
									<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>100% money back guarantee if the above isn't achieved</li>
									<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>We come to wherever you are just when you need us there</li>
									<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Free delivery for bulk orders </li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			<!--why-->