<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 50,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>

	<script>
		$(document).ready(function() {
		$("#owl-demo").owlCarousel({
			items : 1,
			lazyLoad : true,
			autoPlay : true,
			navigation : false,
			navigationText :  false,
			pagination : true,
		});
		});
	</script>


<!--header-->
	<div class="banner">
		<div class="container">
			<div class="header">
				<div class="header-left">
					<h1><a href="index.html">The MPrints</a></h1>
				</div>
				<!-- #push_sidebar -->
				<div class="top-nav">
					<span class="menu"><%= image_tag("menu.png" ,:alt => "") %></span>
					<ul class="nav1">
						<li class="active"><%= link_to 'Home',home_index_path %></li>
						<li><%= link_to 'Services',home_services_path %></li>
						<li><%= link_to 'Contact',home_contact_path %></li>
					</ul>
					<div class="clearfix"> </div>
					<!-- script-for-menu -->
					 <script>
					   $( "span.menu" ).click(function() {
						 $( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						  });
						 });
					</script>
					<!-- /script-for-menu -->
				</div>
				<!-- /#push_sidebar -->
				<div class="clearfix"> </div>
			</div>
			<div class="banner-grid">
				<div class="slider">
					<div class="callbacks_container">
						<ul class="rslides" id="slider">
							<li>	 
								<div class="caption">
									<h3>MPrints Motto</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipi est.Register NowSollicitudin feugiat blanditQuisque feugiat.Dui euismod massa ut sem fringilla blandit ipsum.Register Now</p>
								</div>
							</li>
							 <li>	 
								<div class="caption">
									<h3>MPrints Mission</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipi est.Register NowSollicitudin feugiat blanditQuisque feugiat.Dui euismod massa ut sem fringilla blandit ipsum.Register Now</p>
								</div>
							</li>
							<li>	 
								<div class="caption">
									<h3>MPrints Vision</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipi est.Register NowSollicitudin feugiat blanditQuisque feugiat.Dui euismod massa ut sem fringilla blandit ipsum.Register Now</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--header-->
	<!--welcome-->
		<div class="content">
			<div class="welcome-w3">
				<div class="container">
					<h2 class="tittle"> MPrints </h2>
					<div class="welcome-grids">
						<div class="col-md-7 wel-grid">
							<h4>Leading service provider for all your printing needs</h4>
							<p>Lorem ipsum dolor sit ame sectetur adipsing elit. Praesent eu est quilrs turpis posuere sodales. Mauris tempus placerat felvel iaculis. Suspendisse blandit id dolor eu bibendum. Integer gravida diam ut quam eleifend, sed tristiqu diam laoreet. Donec ac gravida urna. Sed ut nibh posuere euismod est</p>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit</p>
						</div>
						<div class="col-md-5 wel-grid1">
							<div class="port-7 effect-2">
								<div class="image-box">
									<%= image_tag("a5.jpg", :alt => "Image-2") %>
								</div>
								<div class="text-desc">
									<h4>MPrints</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!--welcome-->
		<!--about-->
				<div class="about-w3agile">
					<div class="container">
						<h2 class="tittle">About Us</h2>
						<div class="about-grids">
							<div class="col-md-6 about-grid">
								<%= image_tag("img1.jpg" ,:class=>"img-responsive", :alt=>"") %>
							</div>
							<div class="col-md-6 about-grid">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">
												<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
													About The MPrints
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<p>Consectetur adipiscing elit. Aenean consequat lacus ac turpis ullamcorper, ut ornare libero euismod. Mauris urna eros, tempus id eros vitae, accumsan tempor ligula. Maecenas gravida felis vitae dignissim porta. Quisque blandit velit vitae eros varius.Lorem ipsum dolor sit amet Praesent justo dolor, lobortis quis, lobortis dignissim </p>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingTwo">
											<h4 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												What we do
												</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
											<p>Consectetur adipiscing elit. Aenean consequat lacus ac turpis ullamcorper, ut ornare libero euismod. Mauris urna eros, tempus id eros vitae, accumsan tempor ligula. Maecenas gravida felis vitae dignissim porta. Quisque blandit velit vitae eros varius.Lorem ipsum dolor sit amet Praesent justo dolor, lobortis quis, lobortis dignissim </p>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingThree">
											<h4 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												Our Goal
												</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
											<p>Consectetur adipiscing elit. Aenean consequat lacus ac turpis ullamcorper, ut ornare libero euismod. Mauris urna eros, tempus id eros vitae, accumsan tempor ligula. Maecenas gravida felis vitae dignissim porta. Quisque blandit velit vitae eros varius.Lorem ipsum dolor sit amet Praesent justo dolor, lobortis quis, lobortis dignissim </p>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingFour">
											<h4 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
											Where we are based
												</a>
											</h4>
										</div>
										<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
											<p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula Praesent justo dolor, lobortis quis, lobortis </p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!--about-->
				<!--why-->
				<div class="why-w3l">
					<div class="container">
					<h3 class="tittle">Why Choose Us</h3>
						<div class="why-grids">
							<div class="col-md-6 why-grid">
								<iframe src="https://player.vimeo.com/video/124902958"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
							</div>
							<div class="col-md-6 why-grid">
								<p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augu Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus</p>
								<ul>
									<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Sed massa tellus aliquam rhoncus venenatis </li>
									<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Consectetur adipiscing elit. Aenean consequat</li>
									<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Fusce euismod consequat ante. Lorem ipsum </li>
									<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Magna eget scelerisque metus massa in neque </li>
									<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Sed massa tellus aliquam rhoncus venenatis </li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			<!--why-->
			<!--advantage-->
				<div class="what-w3ls">
					<div class="container">
						<h3 class="tittle">What We Do</h3>
						<div class="what-grids">
							<div class="col-md-4 what-grid">
								<%= image_tag("p100.jpg" ,:class=>"img-responsive" ,:alt=>"") %>
							</div>
							<div class="col-md-8 what-grid1">
								<div class="what-top">
									<div class="what-left">
										<i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
									</div>
									<div class="what-right">
										<h4>Design</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut dignissimos ea est, impedit incidunt, laboriosam maxime molestias numquam odio officiis. Ab aut dignissimos ea est, impedit incidunt.</p>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="what-top1">
									<div class="what-left">
										<i class="glyphicon glyphicon-lock" aria-hidden="true"></i>
									</div>
									<div class="what-right">
										<h4>Print</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut dignissimos ea est, impedit incidunt, laboriosam maxime molestias numquam odio officiis. Ab aut dignissimos ea est, impedit incidunt.</p>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="what-top1">
									<div class="what-left">
										<i class="glyphicon glyphicon-check" aria-hidden="true"></i>
									</div>
									<dsiv class="what-right">
										<h4>Copy</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut dignissimos ea est, impedit incidunt, laboriosam maxime molestias numquam odio officiis. Ab aut dignissimos ea est, impedit incidunt.</p>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>

					</div>
				</div>
			<!--advantage-->
		</div>	
			<!--footer-->
				<div class="footer-agileinfo">
					<div class="container">
						<h3>Get In Touch</h3>
						<p class="para">We love people and we value your feedback at Mprints.</p>
						<div class="footer-grids">
							<div class="col-md-6 footer-grid">
								<div class="col-sm-2 footer-left">
									<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
								</div>
								<div class="col-sm-10 footer-right">
									<h4>Information</h4>
									<p>We spare no expense to ensure everything runs smoothly.We color your life.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="col-md-6 footer-grid">
								<div class="col-sm-2 footer-left">
									<i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
								</div>
								<div class="col-sm-10 footer-right">
									<h4>Newsletter</h4>
									<p>Sign-Up to our newsletters to receive daily or trending services at MPrints.</p>
									<form action="#" method="post">
										<input type="text" name="Your email" value="Your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your email';}" required="">
										<input type="submit" value="Subscribe">
									</form>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="clearfix"></div>
						</div>
						<p class="copy-right">&copy; 2017 MPrints . All rights reserved | Design by <a href="#">Tribian-Tech Ltd</a></p>
					</div>
				</div>
				<!--footer-->